@charset "UTF-8";

*{	
	font-family:'Do Hyeon', sans-serif;	
}

header {
	height: 15%;
}

section {
	height: 50%;
}

footer {
	height: 35%;
}

#angle{
	border : dashed 1px;
	
}

#notice{
	display: flex;
	justify-content: center;
	align-items : center;
	font-size: 48px;
}

#remoteView{
	display: flex;
	justify-content: center;
	align-items : center;
	width: 610px;
	height: 465px;
}
