@charset "UTF-8";
*{
	font-family:'Do Hyeon', sans-serif;	
}

#logo {
	bottom:0px;
	font-size: 70px;
	color: #AAAAAA;
	text-decoration: none;
}

#logo:link{
	color: #AAAAAA;
	text-decoration: none;
}
#logo:visited{
	color: #AAAAAA;
	text-decoration: none;
}
#logo:active{ 
	color: #AAAAAA;
	text-decoration: none;
}
#logo:hover{
	color: #AAAAAA;
	text-decoration: none;
}

#logobox{
	display: flex;
	justify-content: center;
	align-items : center;
}
